extends layout

block content

  h1 ID: #{bookinstances.imprint}
  p Do you really want to delete this book instance?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(name='bookinstanceid', required='true', value=bookinstances._id, )
    button.btn.btn-primary(type='submit') Delete
  hr
  button.btn.btn-secondary(type='submit')
      a(href=bookinstances.url) Cancel